@font-face 
{
  font-family: 'sans-r';
  src: url(./font/ProductSansRegular.ttf);
}
@font-face 
{
  font-family: 'sans-b';
  src: url(./font/ProductSansBold.ttf);
}
/* General settings */
*
{
  margin: 0;
  padding: 0;
  font-family: 'sans-r';
  box-sizing: border-box;
  letter-spacing: 0.4px;
}
html
{
  scroll-behavior: smooth;
}
body
{
  background: #080808;
  color: #fdfdfd;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}
.container
{
  padding: 10px 15%;
}
.header-text
{
  margin-top: 3%;
  font-size: 30px;
}
.header-logo p
{
  font-size: 15px;
  margin-top: 30px;
  line-height: 1.7;
  text-align: justify;
}
.header-text h1
{
  font-size: 70px;
  text-align: center;
}
.header-text span
{
  color: #cd1d20; 
}
.header-text p
{
  font-size: 53px;
}
.header-logo
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  margin: 65px;
}
.sv-logo
{
  height: 100%;
  width: 30%;
}
.detail-text
{
  text-align: center;
}
.detail-text img
{
  margin: 30px;
  width: 70px;
  height: 70px;
}
/* Custom Context Menu Styles */
#custom-menu 
{
  position: absolute;
  display: none;
  background: #0e0e0e;
  color: #c48954;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 10px;
}
#custom-menu ul 
{
  list-style: none;
  margin: 0;
  padding: 0px;
}
#custom-menu ul li 
{
  padding: 8px 20px;
  cursor: pointer;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}
#custom-menu ul li:hover 
{
  background: #ff0000;
}